body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    background-color: chocolate;
}
h1{
    color: brown;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;

}

p{
    text-align: left;
    margin-left: 60px;
    border-bottom: darkolivegreen;
    
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #344136; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }
.wrap {

width: 40%  ;
border: 6px double black;    
}